pandas
matplotlib
numpy
seaborn
scikit-learn
jupyter
torch
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
pytorch-lightning
mlflow
pmdarima
plotly
scikit-fda
joblib
pytz
